html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #111111;
  background: #f2f1f1;
  margin: 0;
}

.header {
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 1px solid #111111;
}

.hero-section img {
  width: 100%;
  vertical-align: middle;
}

.page {
  padding: 16px;
}

.products-section {
}

.products-section .headline {
  font-size: 28px;
  font-weight: bold;
}

.products-section .product-item {
  border: 1px solid #111111;
}

.products-section .product-item:not(:first-child) {
  margin-top: 16px;
}

.products-section .product-item img {
  width: 100%;
}

.products-section .product-item .content {
  padding: 16px;
}

.products-section .product-item .title {
  font-size: 22px;
  font-weight: bold;
}

.login-section {
  margin-top: 16px;
}

.login-section .headline {
  font-size: 28px;
  font-weight: bold;
}

.login-section .login-form {
  padding: 16px;
  border: 1px solid #111111;
}

.footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 1px solid #111111;
}
